<div class="title">
  <h2>Options for search:</h2>
  <hr />
</div>

<form class="options">
  <div class="school-year">
    <label>School year</label>
    <select>
      <option>2021/2022</option>
    </select>
  </div>

  <div class="year-of-study">
    <label>Year of study</label>
    <select>
      <option>All</option>
      <option>First</option>
      <option>Second</option>
      <option>Third</option>
    </select>
  </div>
  <div class="subject-type">
    <label>Subject type</label>
    <select>
      <option>Required</option>
      <option>Optional</option>
    </select>
  </div>
  <div class="conditions">
    <label>Conditions</label>
    <select>
      <option>Has all conditions</option>
      <option>Doesn't have all conditions</option>
    </select>
  </div>
  <button class="search">Search</button>
</form>

<div class="subjects">
  <table>
    <tr>
      <th>Subject</th>
      <th>Year</th>
      <th>Type</th>
      <th>ESPB</th>
      <th>School Year</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Date</th>
    </tr>

    <tr>
      <td>Mathematics</td>
      <td>First</td>
      <td>Required</td>
      <td>8</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Programming</td>
      <td>First</td>
      <td>Required</td>
      <td>8</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Information Technologies</td>
      <td>First</td>
      <td>Required</td>
      <td>7</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Information Systems</td>
      <td>First</td>
      <td>Required</td>
      <td>7</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Statistics</td>
      <td>First</td>
      <td>Required</td>
      <td>7</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Basics of CS</td>
      <td>First</td>
      <td>Required</td>
      <td>8</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Data Base</td>
      <td>First</td>
      <td>Required</td>
      <td>8</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>OP Programming</td>
      <td>First</td>
      <td>Required</td>
      <td>7</td>
      <td>2021/2022</td>
      <td>Has all conditions</td>
      <td>-</td>
      <td></td>
    </tr>
  </table>
</div>
