body {
  width: 100%;
}
.introduction {
  background: #eeeeee;
  width: 80%;
  text-align: center;
  margin: auto;
  height: 40%;
}

.introduction h1,
.introduction p {
  margin: 0;
  position: relative;
  top: 20%;
}
.introduction h1 {
  font-size: 2.5rem;
}

.introduction p {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.note {
  width: 30%;
  height: 30%;
  text-align: justify;
  position: relative;
  left: 10%;
  margin-top: 2rem;
}

@media (max-width: 650px) {
  .note {
    width: 70%;
  }

  .introduction {
    height: 50%;
  }
}
